body{
    font-family: "Roboto", sans-serif;
   
}




.header-section{
    background-color: black;
    color:white;
    font-size: 16px;
    max-height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header1{
    padding-left: 5vw;
}
.seleccionar{
    background-color: black;
    color: white;
    border: 0px;
    margin-right: 2vw;
}

.header-navbar{
    background-color:#F0A83E;
    ;
    color:white;
    font-size: 16 px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 9vh;
    top: 20px;

}
.logo{
    height: 27px;
    padding-left: 3vw;
}
.navbar{
    background-color:#F0A83E;
    color:white;
    font-size: 16 px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 3vw;
}





.footer1{
    background-color: #F0A83E;
    color: white;
}
.footer2{
    background-color: #3C2313;
    color:white;
}
.footer3{
    font-size: 20px;
}
.footer4{
    background-color: #F0A83E;
    color:white;
    align-items: center;
}