body{
    margin: 0px;
    padding: 0px;
}

.franja-azul{
    background-color:aqua;
    color: black;
    height: 38px;
    font-size: 15px;
}
h1{
    background-color: blue;
    font-size: 40px;
    width: 1024;
    height: 101px;
    margin: 0%;
}
.batman{
    margin-left: 85px;
    position: absolute;
    background-image: url(img/liga-justicia-batman-kO4H--1024x512@abc\ 1.png);
    padding: 10px 10px;
}